@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;500&family=Open+Sans&family=Roboto&display=swap');

:root {
    --grey-bg: #e8eaee;
    --grey-bg2: #a3a5a9;
    --transperent: rgba(0, 0, 0, 0.2);
    --transperent2: rgba(0, 0, 0, 0.5);
    --red-bg: rgba(217, 12, 39, 0.85);
    --red-bg2: rgba(217, 12, 39, 1);
    --blue-bg: #2e294e;
    --orange-bg: rgb(236, 155, 4);
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: inherit;
    font-size: 1.2rem;
    font-family: inherit;
}

body {
    background-color: var(--grey-bg);
    display: flex;
}

/*side*/
.side {
    width: 25vw;
    height: 100vh;
    background-image: url('images/library.png');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}

.side img {
    position: absolute;
    width: 60px;
    height: 60px;
    margin-right: 10em;
}

.side .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    justify-content: baseline;
    margin-right: 1.3rem;
    color: rgb(235, 231, 229);
}

.side h1 {
    margin-left: 1em;
    font-size: 3rem;
    color: var(--grey-bg);
}

form {
    background-color: rgba(0, 0, 0, 0);
    /* Adjust the opacity as needed */
    padding: 0 2rem 0 2rem;
    /* Add rounded corners */
    display: flex;
    flex-direction: column;
    color: white;
    gap: 3rem;
    margin-top: 2rem;
}



.form-item input {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    width: 100%;
    border-bottom: 3px dotted rgb(135, 134, 134);
}

input[type="text"] {
    color: white;
}

input[type="text"]:focus {
    outline: none;
    border-bottom: 3px dotted white;
}

.validation-container p {
    color: var(--orange-bg);
    font-size: 0.9rem;
    display: none;
}

.form-item.checkbox {
    display: flex;
    align-items: center;
    gap: 0.3rem;
    display: flex;

}


input[type="checkbox"] {
    accent-color: var(--blue-bg);
}

input[type="text"]::placeholder {
    color: var(--grey-bg2);
}

#add-book {
    background-color: var(--transperent);
    border-radius: 5px;
    padding: 0.5rem 1rem;
    color: white;
    cursor: pointer;
    border: 2px solid var(--grey-bg);
    font-weight: 500;
    transition: 0.3s;

}

#add-book:hover {
    background-color: var(--transperent2);
}



/*main*/

main {
    width: 75vw;
    padding: 2rem;
}

.container {
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-around;
    padding: 1rem 8rem;
}

header button {
    background-color: var(--red-bg);
    color: var(--grey-bg);
    border: none;
    position: relative;
    bottom: 9px;
    padding: 0.5rem 0.8rem;
    display: flex;
    align-self: center;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

header button:hover {
    background-color: var(--red-bg2);
}

table {
    width: 85%;
}

tr {
    background-color: var(--blue-bg);
    display: flex;
    color: var(--grey-bg);
    justify-content: space-around;
    padding: 8px 10px;
    margin-left: 9rem;
}

td {
    flex-basis: 20%;
    /* Adjust the width as needed to fit your content */
    padding: 8px 10px;
}

tbody tr {
    background-color: var(--grey-bg);
    color: var(--blue-bg);
    border-bottom: 3px dotted var(--blue-bg);
}

tbody button {
    border: none;
    cursor: pointer;
    margin-left: 1rem;
}

#remove {
    margin-left: 2rem;
}